/* image Accueil */
.imgAccueil {
    text-align: center;
    margin-top: 20px;
}

.imgAccueil img {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login_signin {
    text-align: right;
    margin-right: 50px;
}

a {
    font-size: 20px;
}